body {
    background-color: #ffffff;
    font-family: "Lato", Sans-serif;
    font-size: 15px;
}

a {
    text-decoration: none;
    color: #000000;
}

.botones {
    margin-right: 30px;
    width: 25%;
    text-align: center;
    padding: 10px 40px;
}

.botonesAB {
    background: #ffffff;
    border: 1px solid #004a98;
    color: #004a98;
    font-weight: bold;
    
}

button#registerSubmitButton,
button#recoverSubmitButton,
button#loginSubmitButton,
.botonesBA {
    border: 2px solid #ffffff;
    color: #004a98;
    border: 1px solid #004a98;
    padding-top: 10px;
    padding-bottom: 10px;
}

.redMark {
    color: red;
    font-weight: bolder;
    font-size: 20px;
}

.sectionTitle {
    color: #004a98;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
}

.formLink {
    font-size: 14px;
    color: #01b6ed;
}

a,
button {
    cursor: pointer;
}

.formSubmitError {
    background-color: #D46A6A;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #000000;
    color: #ffffff;
    border-radius: 25px;
}

/* Hide Elements onLoad */
.formError {
    display: none;
    color: red;
}

/* End Hide Elements onLoad */

/* Forms */
select,
input,
button {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 220px;
    font-size: 1rem;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #666666;
}

input[type='checkbox'] {
    width: 10px;
}

/* End Forms */

/* Login Form */
#loginContainer {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    height: 53.6vh;
}

/* End Login Form */

/* Register */

#nextRegister{
    display: flex;
    flex-direction: row;
    font-size: 24px;
    font-weight: bold;
    column-gap: 30px;
    margin-left: auto;
    margin-top: auto;
    cursor: pointer;

}

#backRegister{
    display: flex;
    flex-direction: row;
    font-size: 24px;
    font-weight: bold;
    column-gap: 30px;
    margin-right: auto;
    margin-top: auto;
    cursor: pointer;

}

.nextRegisterText, .backRegisterText{
    margin-top: 3%;

}

#registerContainer {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

#registerSheetOne,
#registerSheetTwo {
    margin-top: 30px;
    margin-bottom: 30px;
}

.stepRegister {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    width: 100%;
}

.RegisterContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.eachRegisterElement {
    width: 30%;
    height: 100px;
}

.eachLongRegisterElement {
    width: 100%;
    height: 100px;
    margin-bottom: 2%;
}

#registerAuth.RegisterContainer {
    border: 1px solid black;
    border-radius: 25px;
    padding-top: 20px;
    padding-right: 10px;
    margin-bottom: 10px;

}

@media only screen and (max-width: 950px) {
    .eachRegisterElement {
        width: 100%;
        margin-bottom: 2%;
    }

    .eachLongRegisterElement {
        margin-bottom: 10%;
    }

    #nextRegisterFirst {
        margin-top: 5rem;
    }


}

#backRegisterFirst,
#nextRegisterFirst,
#backRegisterSecond,
#nextRegisterSecond {
    cursor: pointer;
}

/* End Register */

/* Recover Password */
#recoverPassContainer {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    height: 53.6vh;
}

/* End Recover Password */

/* Error webs */
.errorContainer {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    height: 53.6vh;
}

/* End Error webs */