/* showActivitiesByDate */

.mainTrayDateActivities{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.columnDateActivities{
    width: 40%;
    margin-inline: 40px;
}

.titleDateActivites{
    font-size: 18px;
    font-weight: bold;
    color: #2b68a9;
    margin-left: 0.5%;
    margin-top: 1%;

}

.hiddenDaysActivities{
    display: flex;
    flex-direction: column;
    width: 60%;
}

.searchDayActivity{
    display: flex;
    flex-direction: row;

}

.mainHiddenDaysActivities{
    display:flex;
    flex-direction: row;

}

.titleDaysAct{
    text-align: left;
    color: #014a99;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

.leftColumnDaysAct{
    width: 50%;   

}

.rightColumnDaysAct{
    width:50%;

}

.eachDayAct{
    width: 90%;
    text-align: center;

}

.eachDayActTitle{
    text-align: left;
    color: #014a99;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

.accordion{
    width:100%;
    background-color: #009fe3;
    text-align: left;
    color:white;
    padding-block: 12px;
    padding-left: 10px;
    border:none;

}

.accordion2{
    width:100%;
    background-color: white;
    text-align: right;
    color:#054d9b;
    font-weight: bold;
    padding-block: 10px;
    padding-right: 10px;
    border:none;

}

.ul-accordion2{
    text-align: right;
    width: 100%;
}

.ul-accordion2 li{
    text-align: right;
    padding-block: 2px;
    list-style-position: inside;

}

#li-accordion2{
    list-style-type: circle; 
    display:flex; 
    flex-direction:row;
    justify-content: end;
    column-gap: 2em;

}

.buttonSignUp{
    width:30%;
    background-color: #009fe3;
    text-align: center;
    color:white;
    padding-block: 5px;
    padding-inline: 20px;
    border:none;
}

.spanTimeAct{
    padding-top: 5px;
}

#selectDayAct{
    width:90%;
    background-color: #009fe3;
    color:white;
    padding-block: 10px;
    border:none;
}

@media only screen and (max-width: 1220px){

    .mainTrayDateActivities{
        display: flex;
        flex-direction: column;
        padding-block: 20px;

    }

    .columnDateActivities{
        margin: auto;
        width: 80%;
    }

    .hiddenDaysActivities{
        margin: auto;
        width: 80%;
    }

}

/* TO DO Adaptando a resolución movil*/

@media only screen and (min-width: 320px) and (max-width: 480px){

    .mainTrayDateActivities{
        display: flex;
        flex-direction: column;
        padding-block: 20px;

    }

    .columnDateActivities{
        margin: auto;
        width: 80%;
    }

    .hiddenDaysActivities{
        margin: auto;
        width: 80%;
    }

    .mainHiddenDaysActivities{
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .leftColumnDaysAct{
        min-width: 90%;
        margin: auto;
    }

    .rightColumnDaysAct{
        min-width: 90%;
        margin: auto;
    }

    .searchDayActivity{
        min-width: 70%;
        margin: auto;
    }

}

/* End showActivitiesByDate */