.container-header{
    color: #004a98;
    font-size: 20px;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-transform: uppercase;

}

.ctn_change_pass{
    width: 60%;
    margin: auto;

}

.section_field, .card-footer{
    width: 50%;
    margin: auto;

}

.card-footer{
    text-align: center;
}

#btn-success{
    background-color: #009FE3;
}

@media only screen and (min-width: 320px) and (max-width: 780px){
    .ctn_change_pass{
        width: 70%;
        margin: auto;
    
    }
    
    .section_field, .card-footer{
        width: 100%;
        margin: auto;
    
    }

}