.mainDataVolAct{
    position:relative;
}

.mainActivityInfo{
    width: 80%;
    margin-inline: auto !important;
}

.mainActivityInfo .row{
    background-color: #ffffff;
    margin-block: 10px; 
    display:flex;
    flex-direction: row;  
    border-bottom: 1px solid grey; 
    justify-content: center;
    align-items: center;
    column-gap: 5%;
    row-gap: 5%;
    padding: 20px;
}

.mainActivityInfo .row .divTime{
    background-color: rgb(221, 191, 200);
    color: #ffffff;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 1.5em; 
    min-width: 15%;

}

.mainActivityInfo .row .divMainDesc{
    line-height: 1.5em;
}

.hourDiv{
    font-size: 24px;
    font-weight: bold;
}

.mainActivityInfo .hidden{
    background-color: #ffffff;
    margin-block: 10px; 
    display:flex;
    flex-direction: row;  
    border-bottom: 1px solid grey; 
    justify-content: center;
    align-items: center;
    padding: 20px;
    line-height: 1.5em;
}

.mainDataVolAct .mainData{
    display: flex;
    flex-direction: column;
    /* row-gap: 10px; */
}

.mainDataVolAct .mainData .row{
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    width: 40%;
    display: flex;
    text-align: left;
    flex-direction: row;
    justify-content: space-between;
    color:#004a98;
    margin-inline: auto !important;
    margin-block: 20px !important;
    min-height: 100px;
    border-bottom: 1px solid grey;
}

.mainDataVolAct .mainData .row i{
    color:black;
}

.mainDataVolAct .mainData .hidden{
    display:flex;
    flex-direction: column;
    margin-inline: auto !important;
    line-height: 1.5em;
    padding-inline: 15px;
    padding-block: 15px;
    background-color: #004a98;
    color:white;
    border-radius: 25px; 
    width: 40%;
}

.mainDataVolAct .mainData .hidden .accordionUsers{
    width: fit-content;
    text-align: left;
    background-color:#004a98;
    border:none;
    color:white;
    margin:auto;

}

.mainDataVolAct .mainData .hidden .downloadButton{
    width:25%;

}