.mainDataShowDoc{
    margin-inline: auto;
    padding-inline: auto;
    text-align: center;
    width: 40%;
    
}

.mainDataShowDoc{
    margin-top: 20px;
    padding-top: 1em;

}

@media only screen and (max-width: 720px){

    .mainDataShowDoc{
        margin-inline: auto !important;
        padding-inline: auto !important;
        text-align: center;
        width: 100%;
    }

    .mainDataShowDoc .rowShowDoc{
        width: 100%;

    }

    .mainDataShowDoc .rowShowDoc button{
        margin-inline: auto !important;
        text-align: center;
        justify-content: center;

    }


}


