.sectionTitleSearch{
    text-align: left;
    color: black;
    font-size: 20px;
    text-transform: uppercase;
    padding-left: 30px;
    border-bottom: 2px solid #ecf0f5;

}

.container{
    border-bottom: 2px solid #ecf0f5;
    padding-block: 20px;
}

.avatarInShowAllUsers {
    display: flex;
    width: 64px;
    border-radius: 35px;

}

#search {
    background: url(https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-19-32.png) no-repeat 2px -2px;
    width: 40%;
    border-radius: 25px;
    margin-inline: 30px;
    padding-left: 35px;

  }

.container .row, .container .hidden{
    margin-inline: auto !important;
}

#search_list .row{
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    width: 40%;
    display: flex;
    text-align: left;
    flex-direction: row;
    justify-content: space-between;
    color:#004a98;
    margin: 20px;
    min-height: 100px;
    border-bottom: 1px solid grey;
}

#search_list .row .avatarUserRow{
    width: 20%;
    padding-inline: auto !important;
    
}

#search_list .row .nameSurVol{
    width: 50%;
    margin:auto;
    padding-inline: auto;
    flex-shrink: 0;
}

#search_list .row .mailVol{
    width: 30%;
    max-width: 30%;
    flex-shrink: 0;
    text-align: left;
}

#search_list .row .tlfVol{
    width: 30%;
    flex-shrink: 0;
}

#search_list .row .controlButtonMoreDetails{
    width: 10%;
    color: black;
    margin:auto;
    text-align: center;
    flex-shrink: 0;
}

#search_list .hidden{
    display:flex;
    flex-direction: column;
    padding-inline: 15px;
    padding-block: 15px;
    background-color: #004a98;
    color:white;
    border-radius: 25px; 
    width: 40%;
}

#search_list .hidden .eachRow {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

#search_list .hidden .downloadButton{
    width:25%;

}

#search_list .hidden .accordionUsers{
    width: fit-content;
    text-align: left;
    background-color:#004a98;
    border:none;
    color:white;
    margin:auto;

}

#arrowDownload{
    font-size: 15px;
    padding-left: 10px;
}

.stateNotification {
    vertical-align: center;
}

.eachRowInscription {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 3px solid black;
    border-top: 3px solid black;

}

.mainData .row>div{
    margin: auto;
    padding: auto;
    line-height: 20px;
}

.mainData .row .controlButton:hover {
    color: #2697FF;
}

.mainData .hidden .controlButton:hover {
    color: #2697FF;
}

.userSearchBox,
.addNew {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

@media only screen and (max-width: 1025px) {

    .row{
        width: 85%;
        margin: auto;
    }

    #search{
        width: 70%;
        margin-left: 55px;
    }

    #search_list .row {
        flex-direction: column;
        align-items: center;
        width: auto;
        
    }

    #search_list .hidden {
        flex-direction: column;
        width: auto;

    }

    #search_list .row .avatarUserRow{
        width: 100%;
        display: flex;
        justify-content: center;

    }

    #search_list .row .nameSurVol{
        text-align: center;
    }

}