.mainTrayAdminNot{
    padding: auto;
    justify-content: center;
    text-align: center;

}

.mainDataAdminNot{
    text-align: center;
    justify-content: center;
    padding: auto;
    margin: auto;
    line-height: 2em;
    column-gap: 2em;

}

.mainDataAdminNot .row{
    width: 30%;
    padding-block: 1%;
    justify-content: center;
    text-align: center;
    margin: auto;
    border-bottom: 1px grey solid;

}

.mainDataAdminNot .hiddenAdminNot{
    margin-top: 2%;
    width: 30%;
    margin-inline: auto;
    margin-block: 2%;
    border: 1px solid grey;
}