.mainDataMyProForm{
    display: flex;
    border: 1px grey solid;
    padding: 2%;
}

.centerCol{
    text-align: center;
    margin-block: auto;
}

#updateMyProfile{
    display: flex;
    justify-content: center;
    margin-inline: auto;
    padding: 20px;

}

.leftColForm{
    max-width: 33%;
}

.rightColForm{
    min-width: 28%;
}

@media only screen and (min-width: 320px) and (max-width: 780px){
    .mainDataMyProForm{
        display: block;

    }

    .leftColForm{
        max-width: 100%;
    }
    
    .centerCol{
        display: flex;
        margin-block: 40px;
        width: 100%;
    }

}