.mainTrayAdminNot{
    width: 30%;
    padding: auto;
    margin-inline: auto;
    justify-content: center;
    text-align: left;
    border: 2px #004a98 solid;
}

.mainDataAdminNot{
    text-align: left;
    justify-content: center;
    padding: auto;
    margin: auto;
    padding: 2%;
    line-height: 2em;
    column-gap: 2em;

}

.avatarAdminNot{
    margin-inline: auto !important;

}

.avatarAdminNot img{
    display: flex;
    width: 96px;
    border-radius: 50%;
    margin-inline: auto !important;
    margin-bottom: 20px;
}

.mainDataAdminNot .row{
    width: 100%;
    padding-block: 1%;
    justify-content: center;
    text-align: left;
    margin: auto;
    border-bottom: 1px grey solid;

}

.mainDataAdminNot .hiddenAdminNot{
    margin-top: 2%;
    width: 100%;
    margin-inline: auto;
    margin-block: 2%;
    padding: 2%;
    border: 1px solid grey;
    
}

@media only screen and (max-width: 780px){

    .mainTrayAdminNot{
        width: 90%;
    }

    .mainDataAdminNot{
        width: 100%;
        
    }

    .avatarAdminNot{
        margin-inline: auto !important;
        width: 64px;
        border-radius: 25px;
        text-align: center;
    }

    .mainDataAdminNot .row{
        width: 100%;
    }

    .mainDataAdminNot .hiddenAdminNot{
        width: 100%;
    }

}

@media only screen and (min-width: 780px) and (max-width: 1400px){

    .mainTrayAdminNot{
        width: 60%;
    }

    .mainDataAdminNot{
        width: 80%;
        
    }

    .avatarAdminNot{
        margin-inline: auto !important;
        width: 64px;
        border-radius: 25px;
        text-align: center;
    }

    .mainDataAdminNot .row{
        width: 100%;
    }

    .mainDataAdminNot .hiddenAdminNot{
        width: 100%;
    }

}