.mainTrayAdminNot{
    padding: auto;
    justify-content: center;
    text-align: center;

}

.mainDataAdminNot{
    text-align: center;
    justify-content: center;
    padding: auto;
    margin: auto;
    line-height: 2em;
    column-gap: 2em;

}

.avatarAdminNot{
    margin-inline: auto !important;

}

.avatarAdminNot img{
    display: flex;
    width: 96px;
    border-radius: 50%;
    margin-inline: auto !important;
}

.mainDataAdminNot .row{
    width: 30%;
    padding-block: 1%;
    justify-content: center;
    text-align: center;
    margin: auto;
    border-bottom: 1px grey solid;

}

.mainDataAdminNot .hiddenAdminNot{
    margin-top: 2%;
    width: 30%;
    margin-inline: auto;
    margin-block: 2%;
    border: 1px solid grey;
}

@media only screen and (max-width: 780px){

    .mainDataAdminNot{
        width: 80%;
        
    }

    .avatarAdminNot{
        margin-inline: auto !important;
        width: 64px;
        border-radius: 25px;
        text-align: center;
    }

    .mainDataAdminNot .row{
        width: 100%;
    }

    .mainDataAdminNot .hiddenAdminNot{
        width: 100%;
    }

}