.mainData {
    background-color: #ffffff;
    margin: auto;
}

.mainActivityAct {
    background-color: #ffffff;
    width: 80%;
    margin: auto;
}

#searchActivity {
    background: url(https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-19-32.png) no-repeat 2px -2px;
    width: 50%;
    border-radius: 25px;
    margin-inline: 30px;
    padding-left: 35px;

  }

#search_listAct{
    margin-bottom: 50px;
}

#search_listAct .row .divTime{
    background-color: rgb(221, 191, 200);
    color: #ffffff;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 1.5em; 
    width: auto;
}

#search_listAct .row{
    background-color: #ffffff;
    margin-block: 10px; 
    display:flex;
    flex-direction: row;  
    border-bottom: 1px solid grey; 
    justify-content: center;
    align-items: center;
    width: 100%;
}

#search_listAct .row .divTime .hourDiv{
    font-weight: bold;
    font-size: 24px;
}

#search_listAct .row .divMainDesc{
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 60%;
    text-align: left;
    flex-direction: column;
    overflow:auto;
}

#search_listAct .row .divMainDesc .nameDiv{
    font-size: 20px;
    padding-bottom: 10px;
}

#search_listAct .row .divMainDesc .descAct{
    overflow: hidden;
    text-align: center;
}

#search_listAct .row .divMainDesc .cupoDiv{
    padding-top: 10px;
}

#search_listAct .row .divVis{
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 10px;
    width: 18%;
    
}

.botonVis{
    border: none;
    border-radius: 10px;
    background: #406cbc;
    text-align: center;
    color: #ffffff;
    padding-inline:10px;
    padding-block: 5px;
    width: fit-content;
    font-size: min(5vw, 14px);
}

#search_listAct .row .controlButton-moreDetails{
    color: black;
    text-align: center;
}

.mainActivityAct .hidden{
    background-color: #004a98;
    line-height: 1.5em;
    color: #ffffff;
    border-radius: 25px;
    padding: 20px;
    align-items: center;
    width: 100%;
}

.mainActivityAct .hidden .buttonsBar{
    background-color: #004a98;
    border-radius: 25px;
    display:flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    column-gap: 30px;
}

.buttonsBar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline:auto;
    text-align: center;
}

.buttonsBar div{
    text-align: center;
    justify-content: center;
}

.leftCol-buttonsBar{
    display: flex;
    flex-direction: row;
}

.rightCol-buttonsBar{
    display: flex;
    flex-direction: row;
}

.mainActivityAct .hidden .botonesControl{
    border: none;
    border-radius: 10px;
    background: grey;
    text-align: center;
    color: #ffffff;
    padding-inline:10px;
    padding-block: 5px;
    width: fit-content;
    font-size: 14px;

}

.botonesControl p{
    text-align: center;
}

/* .avatarInShowAllUsers {
    width: 64px;
    border-radius: 35px;
} */

/* changeAvatarForm */

.mainDataCenter .container{

    justify-content: center;
    text-align: center;
    object-fit: cover;

}

/* showMyProfile */

@media only screen and (max-width: 1000px) {

    #search_listAct .row {
        flex-direction: column;
        padding-left: 0;
    }

    #search_listAct .row .divTime {
        width: auto;
    }

    #search_listAct .row .divMainDesc {
       text-align: center;
       width: auto;

    }

    #search_listAct .row .divVis {
        text-align: center;
        align-items: center;
        width: auto;
     }

    .mainData .hiddenActDet .eachRow {
        flex-direction: column;
        padding-left: 0;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

@media only screen and (min-width: 260px) and (max-width: 768px){
    
    #searchActivity{
        width: 70%;
        justify-content: center;
        align-items: center;
        margin-inline: 65px;

    }

    .form-group{
        padding: auto;
        margin: auto;
    }

    .row{
        padding: auto;
        margin: auto; 
    }

    .mainActivityAct .hidden .buttonsBar{
        display: flex;
        flex-direction: column;
        padding: auto;
        text-align: center;
        margin: auto;
    }

    .leftCol-buttonsBar{
        padding: auto;
        margin: auto;
        text-align: center;
        justify-content: center;
    }

    .rightCol-buttonsBar{
        padding: auto;
        margin: auto;
        text-align: center;
        justify-content: center;
    }

}