.mainDataVolAct{
    position:relative;
}

.mainActivityInfo{
    width: 80%;
    margin-inline: auto !important;
}

.mainActivityInfo .row{
    background-color: #ffffff;
    margin-block: 10px; 
    display:flex;
    flex-direction: row;  
    border-bottom: 1px solid grey; 
    justify-content: center;
    align-items: center;
    column-gap: 5%;
    row-gap: 5%;
    padding: 20px;
}

.mainActivityInfo .row .divTime{
    background-color: rgb(221, 191, 200);
    color: #ffffff;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 1.5em; 
    min-width: 15%;

}

.mainActivityInfo .row .divMainDesc{
    line-height: 1.5em;
}

.hourDiv{
    font-size: 24px;
    font-weight: bold;
}

.mainActivityInfo .hidden{
    background-color: #ffffff;
    margin-block: 10px; 
    display:flex;
    flex-direction: row;  
    border-bottom: 1px solid grey; 
    justify-content: center;
    align-items: center;
    padding: 20px;
    line-height: 1.5em;
}

.mainDataVolAct .mainData{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.mainDataVolAct .mainData .row{
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    width: 40%;
    display: flex;
    text-align: left;
    flex-direction: row;
    justify-content: space-between;
    color:#004a98;
    margin-inline: auto !important;
    margin-block: 20px !important;
    min-height: 100px;
    border-bottom: 1px solid grey;
}

.mainDataVolAct .mainData .row i{
    color:black;
}

.mainDataVolAct .mainData .hidden{
    display:flex;
    flex-direction: column;
    margin-inline: auto !important;
    line-height: 1.5em;
    padding-inline: 15px;
    padding-block: 15px;
    background-color: #004a98;
    color:white;
    border-radius: 25px; 
    width: 40%;
}

.mainDataVolAct .mainData .hidden .accordionUsers{
    width: fit-content;
    text-align: left;
    background-color:#004a98;
    border:none;
    color:white;
    margin:auto;

}

.mainDataVolAct .mainData .hidden .downloadButton{
    width:25%;

}

.buttonAct{
    text-align: center;
}

.boton-delete-user{
    width: fit-content;
    justify-content: center;
    padding-inline: 10px;
    background-color: #009fe3;
    border-radius: 10px;
    border: none;

}

.boton-delete-user i{
    color: white ;
}

@media only screen and (min-width: 768px) and (max-width: 1200px){
    .mainActivityInfo .row{
        width: 100%;

    }

    .mainDataVolAct{
        width: 70%;
        margin-inline: auto;
    }

    .mainDataVolAct .mainData .row, .mainDataVolAct .mainData .hidden{
        width: 100%;
    }

}

@media only screen and (min-width: 260px) and (max-width: 768px){

    .mainTrayVolAct{
        min-width: 85% !important;
        margin-inline: auto;

    }
    
    .mainActivityInfo {
        display: block;
        width: 85%;
        
    }

    .mainActivityInfo .row, .mainActivityInfo .hidden{
        display: block;
        width: 100%;
        text-align: center;
    }

    .divTime{
        width: 35%;
        margin-inline: auto !important;
    }

    .mainDataVolAct{
        width: 85% ;
        margin-inline: auto !important;
    }

    .mainDataVolAct .mainData .row{
        display: block;
        width: 100% ;
        text-align: center;
        justify-content: center;
        padding: 0;
    }

    .mainActivityInfo .row{
        padding: 0;
    }

    .mainDataVolAct .mainData .row .avatarUserRow img{
        margin-inline: auto !important;
    }

    .mainDataVolAct .mainData .hidden{
        width: 100%;
        margin-inline: auto !important;
    }

}