.avatarMyProfile{
    max-width: 100%;
    max-height: 100%;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    transform: scale(0.5);
    object-fit: cover;
}

.containerMyProfile{
    display: flex;
    flex-direction: row;
    width: 80%;
    background-color: red;
}

.containerProfileData{
    width: 50%;
    margin-inline: 5%;
}

.accordionPersonalData, .accordionDocuments{
    display:flex;
    flex-direction: row;
    width: 100%;
    margin-block: 5%;
    margin-inline: 5%;
    padding-inline: 1%;
    padding-block: 2%;
    height: fit-content;
    background-color: #004A98;
    color: white;
}

.centerCol{
    float:flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    min-width: 33%;
}



#labeltitleCol{
    font-size: 24px;
}

.divButtonMyProfile{
    text-align: center;
}

